html,
body {
  height: 100%;
}

body {
  align-items: center;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  /* background-color: #F5F5F5; */
}

.form-login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-70%);
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-login .checkbox {
  font-weight: 400;
}

.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}